<% pokemon.forEach(function(pokemon) { %>
    <div>
       <a href='/pokemon/<%= pokemon.name%>'<h2><%= pokemon.name %></h2></a>
       <form action="Delete"></form>
       <button>Delete</button>
      </div>
<%  }) %>