body {
    background-image: url("/Users/stevenmichaud/generalassembly/unit_two/homework/express_pokedex/public/pokemon red.png");
    justify-content: center;
    text-align: center;

}

.btn {
    background-color: blue ;
    color: yellow;
    
}